@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
  align-content: center;
  background-attachment: scroll;
  background-image: url("IMATGES/bowie_principal.jpg");
  background-size: 600px;
}

/*-----------------------------*/
/* INICI index.html */ 

.menu ul {
  font-size: 18px;
  list-style-type: none;
  margin: 0;
  padding-right: 40px;
  overflow: hidden;
  background-color: #1f1f1f;
  border-radius: 15px;
}

.menu li {
  padding-top: 20px;
  float: right;
}

.menu a {
  font-family: 'Josefin Sans', sans-serif;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin-right: 20px;
}

.video {
  padding-top: 10px;
  display: block;
  margin: 0 auto;
}

.inici, .mapa-bowie {
  font-weight: bold;
  color: #fff;
  font-size: 17px;
  font-family: Arial;
  text-shadow: 2px 2px 0 #000;
}

.mapa-bowie img {
  display: block;
  margin: auto;
}
/*-----------------------------*/


/*-----------------------------*/
/*Albums*/

.albums {
  display: block;
  text-align: center;
}

.albums table {
  border: 0;
  margin: 0 auto;
}

.albums img {
  width: 400px;
}

.albums h1, h3, .titol-album h1 {
  font-weight: bold;
  color: #fff;
  font-family: Arial;
  text-shadow: 2px 2px 0 #000;
}

/* Llistes d'albums amb cançons */

.bowie-tracklist p,li {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 18px;
  margin: 5px;
}

.bowie-album1,.bowie-album2,.bowie-album3,.bowie-album4,.bowie-album5,.bowie-album6,.bowie-album7,
.bowie-album8,.bowie-album9,.bowie-album10,.bowie-album11 {
  float: center;
  width: 800px;
  display: block;
  margin: auto;
  margin-bottom: 0.5cm; 
  padding: 0.5cm;
  background: #1f1f1f;
  color: white;
  border-radius: 15px;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.bowie-album1 img, .bowie-album10 img { /* David Bowie (1967), The Next Day (2013) */
  width: 350px;
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 60px;
  border-radius: 5px;
}

.bowie-album2 img, .bowie-album7 img {  /* Space Oddity (1969) i Heroes (1977) */
  width: 350px;
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding: 2px;
  border-radius: 5px;
}

.bowie-album3 img, .bowie-album5 img {  /* Hunky Dory (1971) i Diamond Dogs (1974) */
  width: 350px;
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 15px;
  border-radius: 5px;
}

.bowie-album4 img {  /* Ziggy Stardust and The Spiders From Mars (1972) */
  width: 350px;
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 80px;
  border-radius: 5px;
}

.bowie-album6 img, .bowie-album9 img {  /* Young Americans (1975),Let's Dance (1983), Blackstar (2016) */
  width: 340px;
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 0px;
  border-radius: 5px;
}

.bowie-album8 img {  /* Scary Monsters (and Super Creeps) (1980) */
  width: 350px;
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 20px;
  border-radius: 5px;
}

.bowie-album11 img {  /* Blackstar (2016) */
  width: 320px;
  float: right;
  margin-right: 15px;
  padding-left: 32px;
  padding-top: 20px;
  border-radius: 5px;
}
/*-----------------------------*/


/*-----------------------------*/
/*Sobre l'artista*/

.bowie-bio1, .bowie-bio2, .bowie-bio3, .bowie-bio4, .bowie-bio5 {
  float: center;
  width: 1300px;
  display: block;
  margin: auto;
  margin-bottom: 0.5cm; 
  padding: 0.5cm;
  background: #1f1f1f;
  color: white;
  border-radius: 15px;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.bowie-wiki p {
  font-family: 'Varela Round', sans-serif;
  font-size: 17.5px;
  margin-left: 20px;
}

.bowie-wiki li {
  font-size: 18px;
  margin-bottom: 10px;
}
      
.bowie-bio1 img {
  float: left;
  margin-left: 10px;
  padding-right: 32px;
  border-radius: 5px;
  padding-top: 16px;
}

.bowie-bio2 img {
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 30px;
  border-radius: 5px;
}

.bowie-bio3 img {
  float: left;
  margin-left: 10px;
  padding-right: 32px;
  border-radius: 5px;
  padding-top: 36px;
}

.bowie-bio4 img {
  float: right;
  margin-right: 10px;
  padding-left: 32px;
  padding-top: 40px;
  border-radius: 5px;
}

.bowie-bio5 img {
  float: left;
  margin-left: 10px;
  padding-right: 32px;
  border-radius: 5px;
  padding-top: 29px;
}

.bowie-bio8 { 
  float: center;
  width: 1300px;
  height: 520px;
  margin: auto;
  margin-bottom: 0.5cm; 
  padding: 0.5cm;
  background: #262626;
  color: white;
  border-radius: 15px;
  box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.25);
  text-align: left;
  background-image: url("IMATGES/bowie5.jpg");
  background-repeat: no-repeat;
  background-size: 1400px;
  font-weight: bold;
  color: #fff;
  font-family: Arial;
  text-shadow: 2px 2px 0 #000;
}

.bowie-bio8 ul {
  padding-left: 2cm;
  padding-right: 2cm;
}


.bowie-bio8 a {
  color: white;
} 

a:link {
  text-decoration: none;
}
/*-----------------------------*/


/*-----------------------------*/
/* Enquesta */

.enquesta {  
    display: block;
    text-align: center;
}

.enquesta form {
  width: 800px;
  padding-top: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

.enquesta li {
  list-style-type:none;
}

.enquesta ul {
  padding: 0 auto;
}

.enquesta fieldset {
  color: white;
  background-color: #171717;
  border-radius: 15px;
}

.enquesta a {
  font-size: 17px;
  display: inline-block;
  margin-right: 30px;
}

.boto {
  padding-right: 30px;
}

.boto input {
  border-radius: 10px;
  background: #404040;
  color: white;
  height: 50px;
  width: 300px;
  font: bold 15px arial,sans-serif;
}

/*-----------------------------*/


/*-----------------------------*/
/*Formulari de contacte*/

.formulari {  
    display: block;
    text-align: center;
}

.formulari form {
  width: 500px;
  padding-top: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  text-decoration: none;
} 

.formulari li {
  font-size: 15px;
  list-style-type:none;
}

.formulari ul {
  padding-left: 15px;
}

.formulari fieldset {
  background-color: white;
  border-radius: 15px;
}

.formulari textarea {
  width: 320px;
  height: 200px;
  resize: none;
}
